.feedCard {
  margin-block: 2rem;
}

.info {
  color: #c1cfda;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.leftInfo {
  display: flex;
  align-items: center;
}

.leftInfo > img {
  border-radius: 100%;
  margin-right: 1rem;
}

.star {
  display: flex;
  align-items: center;
}

.reviewCard {
  display: flex;
  margin: 1rem;
  background-color: #c1cfda;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
}

.reviewOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #c1cfda;
}

.reviewIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
