.settingsMenu {
  position: fixed;
  color: var(--main-color);
  background-color: var(--background-color);
  text-align: center;
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
  z-index: 10;
}

.navigation {
  list-style-type: none;
}


@media (min-width: 1025px) {
  .settingsMenu {
    background-color: var(--main-color);
    color: black;
    height: auto;
    width: auto;
    text-align: start;

    right: 10rem;

    border-radius: 1rem;
  }

  .settingsMenu li {
    border-bottom: 2px solid var(--background-color);
    padding: 1rem;
    cursor: pointer;
  }
}