.container > h2 {
  text-align: center;
  color: #c1cfda;
}

.feedItem {
  margin-block-end: 2rem;
}

.reviewCard {
  display: flex;
  margin: 1rem;
  background-color: #c1cfda;
  padding: 1rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  gap: 1rem;
}

.reviewCard p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reviewCard > img {
  border-radius: 0.5rem;
}

@media (min-width: 1025px) {
  .container {
    max-width: 1025px;
    margin: auto;
  }
  .reviewCard {
    justify-content: start;
    flex-direction: row-reverse;
    max-height: 350px;
  }

  .reviewCard p {
    display: block;
    -webkit-line-clamp: 0;
  }

  .reviewCard > img {
    height: 300px;
    width: auto;
  }
}
