.container {
  padding-top: 3rem;
}

.reviewCard {
  display: flex;
  margin: 1rem;
  background-color: #c1cfda;
  padding: 1rem;
  border-radius: .5rem;
  justify-content: space-between;
  gap: 1rem;
}

.reviewCard > img {
  border-radius: .5rem;
}

@media (min-width: 1025px) {
  .container {
    max-width: 1025px;
    margin: auto;
    
  }
  .reviewCard {
    flex-direction: row-reverse;
    max-height: 350px;
  }

  .reviewCard > img {
    height: 300px;
    width: auto;
  }
}
