.container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
    color: var(--main-color);
    gap: 0.75rem;
    padding-top: 3rem;
}
.movie{
    color: var(--main-color);
    display: flex;
    gap: 0.75rem;
}
.button{
    background-color: var(--main-color);
    border-radius: 0.5rem;
    padding-block: 0.5rem;
    font-size: 1.2rem;
    border: none;
    outline: transparent;
}
.sub{
    color: var(--main-color);
    text-align: center;
}
.profile{
    display: flex;
    background-color: var(--main-color);
    border-radius: 10px;
    height: 60px;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
}

.profile div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
 
.profile img{
    border-radius: 50%;
}
.h3{
    color: var(--main-color);
    text-align: center;
    font-size: 20px;
    padding-block: 0.7rem;
}

.linha{
    border-top: 2px solid var(--main-color);
    margin: 0 25px;
}


