.container {
  width: 95%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--main-color);
}

.userContainer {
  display: flex;
  gap: 1rem;
}

.userContainer > img {
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.follow-followers {
  display: flex;
  gap: 1rem;
}

.button {
  width: 100px;
  background-color: var(--main-color);
  border: none;
  outline: transparent;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialMedia svg {
  width: 24px;
  fill: var(--main-color);
}

.badges {
  display: flex;
  justify-content: space-around;
}

/* Refazer */
.badges p {
  /* background-color: var(--main-color);
  color: black;
  width: 1rem;
  height: 1rem;
  padding: 2rem;
  display: grid;
  place-content: center; */
  text-align: center;
}

.carouselContainer {
  text-align: center;
  margin-block: 1rem;
}

.carouselContainer h3 {
  margin-block: 0.5rem;
}

.carousel {
  display: grid;
  gap: 0.75rem;
  grid-auto-flow: column;
  grid-auto-columns: min-content;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.carousel img {
  border-radius: 0.5rem;
}

.verMais {
  width: 120px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1025px) {
  .container {
    max-width: 1025px;
    margin: auto;
  }

  .button {
    width: 7rem;
  }

  .profile {
    margin-top: 2rem;
  }

  .carousel {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 0.5rem;
  }
}
