.review {
  background-color: #c1cfda;
  border-radius: 0.5rem;
  margin-inline: 1rem;
  padding: 0.5rem;
  margin-block: 0.5rem;
  

}

.review p {
  text-align: justify;
}

.movie {
  display: flex;
  gap: 0.5rem;
}

.movie img {
  border-radius: 0.5rem;
}

@media (min-width: 1025px) {
.container {
  max-width: 1025px;
  margin: auto;
}
}