.sidemenu {
  position: fixed;
  color: var(--main-color);
  background-color: var(--background-color);
  text-align: center;
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}