.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--main-color);
  
  margin-inline: auto;
}

.navbar h2 {
  padding-inline-end: 1rem;
}

.navbar button {
  outline: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: .5rem;
  list-style-type: none;
}

.navigation li {
  display: flex;
  gap: 1rem;
}

.closeHamburgerMenu {
  display: none;
}

.input {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 70%;
}

.input > input {
  width: 100%;
  height: 2rem;
  border: none;
  outline: transparent;
  font-size: inherit;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  padding-inline: 1rem;
}

@media (min-width: 1025px) {
  .navbar {
    /* padding-inline: 10rem; */
    max-width: 1025px;
  }

  .navbar h2 {
    padding-inline-end: 0;
  }
}
