.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  position: sticky;
}

.navbar button {
  outline: transparent;
  border: none;
  background-color: transparent;
}

.input {
  /* width: 100%; */
  height: 2rem;
  border: none;
  outline: transparent;
  font-size: inherit;
  border-radius: .5rem;
  background-color: var(--main-color);
  padding-inline: 1rem;
}
