.container {
  position: fixed;
  color: var(--main-color);
  /* height: 100svh; */
  width: 100%;
  z-index: 1;
  /* backdrop-filter: blur(10px); */
}

.background {
  background-color: var(--background-color);
  padding: 1rem;
}

.notification {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

.notification img {
  border-radius: 50%;
}

.clearNotifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clearNotifications p:nth-child(2) {
  font-size: 0.8rem;
}
